header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}
nav ul {
  display: flex;
  list-style-type: none;
}
li {
  padding: 10px;
  list-style-type: none;
  padding-left: 40px;
}
a {
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  color: #020202;
  text-transform: uppercase;
}
/*//////////////burgermenu///////////////*/

.banner {
  margin-top: 20px;
}

.kryds {
  display: inline;
}

.main-menu a:hover {
  color: #9c9c9c;
}
.main-menu a {
  color: #000;
}

/************ MENU ***********************************************/

@media (max-width: 700px) {
  header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-top: 20px;
    padding-bottom: 20px;
    position: sticky;
  }

  /* header */
  .banner {
    padding: 0rem;
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    align-items: center;
  }

  .main-menu ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 1rem;
  }

  /* burgermenu */
  #container {
    background: transparent;
    border: none;
    display: none;
    text-align: right;
  }

  #container {
    display: block;
  }

  .main-menu.shown {
    display: contents;
  }

  .main-menu ul {
    display: none;
  }

  .main-menu.shown ul {
    border-top: 1px solid #000;
    padding-top: 1rem;
    display: flex;
    flex-flow: column;
    flex-basis: 100%;
  }

  #container {
    display: grid;
    justify-items: end;
    cursor: pointer;
    width: 100%;
  }

  .main-menu.shown li {
    text-align: end;
  }

  .bar1,
  .bar2,
  .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
  }

  /* Rotater første bar */
  .change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
  }

  /* Fadeout anden bar */
  .change .bar2 {
    opacity: 0;
  }

  /* Rotater sidste bar */
  .change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
  }
}

@media (max-width: 700px) {
  header {
    top: 0%;
    left: -10%;
    align-items: center;
    justify-content: center;
  }
}
